* {
  margin: 0;
  padding: 0;
}

.main__body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
iframe {
  position: absolute;
  z-index: 99;
  width: 540px;
  height: 220px;
  top: -84%;
}
header {
  display: flex;
  justify-content: center;
}

.welcome_heading {
  position: absolute;
  z-index: 28;
  font-size: 300px;
  color: white;
}

.road {
  position: absolute;
  top: 100%;
  width: 690px;
  height: 600px;
  z-index: 37;
}

.stage1_container {
  width: 400px;
  display: flex;
  justify-content: center;
}

.platform {
  position: absolute;
  width: 1300px;
  z-index: 40;
  top: -72%;
  height: 632px;
}

.stage1 {
  position: absolute;
  width: 1200px;
  height: 800px;
  z-index: 42;
  top: -200%;
}

.floor {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 53vh;
}

.floor_container {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 38;
  width: 100%;
  height: 260px;
  border-radius: 50%;
  background-color: white;
}

.building {
  position: absolute;
  width: 570px;
  height: 180px;
  bottom: 420px;
  z-index: 28;
}

.building1 {
  position: absolute;
  width: 570px;
  height: 180px;
  bottom: 420px;
  z-index: 28;
  left: 576px;
}

.building2 {
  position: absolute;
  width: 570px;
  height: 180px;
  bottom: 420px;
  z-index: 28;
  left: 976px;
}

.ground {
  position: absolute;
  width: 2200px;
  bottom: 0px;
  height: 1000px;
  right: 0;
  z-index: 16;
}

.mount1 {
  position: absolute;
  width: 1070px;
  height: 360px;
  bottom: 360px;
  left: -70px;
  z-index: 20;
}

.mount2 {
  position: absolute;
  width: 1100px;
  height: 260px;
  bottom: 370px;
  right: 0;
  z-index: 17;
}

.cloud {
  position: absolute;
  width: 300px;
  height: 180px;
  z-index: 12;
  top: 20px;
  animation: animate 60s linear infinite;
}

.cloud2 {
  position: absolute;
  width: 300px;
  height: 180px;
  z-index: 12;
  top: 10%;
  animation: animate2 40s linear infinite;
}

.cloud3 {
  position: absolute;
  width: 300px;
  height: 180px;
  z-index: 12;
  top: 10%;
  animation: animate3 60s linear infinite;
}

.cloud4 {
  position: absolute;
  width: 300px;
  height: 180px;
  z-index: 12;
  top: 5%;
  animation: animate4 40s linear infinite;
}

@keyframes animate {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    left: 30%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate3 {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate4 {
  0% {
    left: 60%;
  }
  100% {
    left: 100%;
  }
}

.sky {
  position: absolute;
  width: 2200px;
  bottom: 320px;
  right: 0;
}
@media only screen and (max-width: 1225px) {
  .tree_container {
    display: none;
  }
  .welcome_heading {
    position: absolute;
    z-index: 28;
    top: 10%;
    font-size: 220px;
    color: white;
  }
}
@media only screen and (max-width: 600px) {
  .floor {
    margin-top: 53vh;
  }
  header {
    display: none;
  }
  .floor_container {
    width: 450px;
    height: 230px;
  }

  .gate {
    width: 140px;
    height: 140px;
  }
  .road {
    width: 920px;
    height: 600px;
  }
  iframe {
    width: 380px;
    top: -95%;
  }
  .stage1 {
    width: 800px;
    top: -230%;
  }
  .platform {
    width: 700px;
  }
}
