* {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main__body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main__body:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 25;
}

.stage__container {
  position: absolute;
  zoom: 2.5;
  z-index: 40;
}

.video {
  position: absolute;
  z-index: 30;
  height: 80px;
  width: 160px;
  left: 218px;
  top: 130px;
}

.stage {
  position: absolute;
  z-index: 27;
  width: 340px;
  top: 30px;
  left: 130px;
  height: 270px;
}

.ground {
  position: absolute;
  width: 1400px;
  bottom: 0px;
  right: 0;
  zoom: 2;
  z-index: 16;
}

.mount1 {
  position: absolute;
  width: 1670px;
  height: 500px;
  bottom: 160px;
  left: -70px;
  z-index: 20;
}

.mount2 {
  position: absolute;
  width: 1440px;
  height: 400px;
  bottom: 220px;
  right: 0;
  z-index: 17;
}

.cloud {
  position: absolute;
  width: 340px;
  height: 200px;
  z-index: 15;
  top: 20px;
  animation: animate 60s linear infinite;
}

.cloud2 {
  position: absolute;
  width: 340px;
  height: 200px;
  z-index: 15;
  top: 10%;
  animation: animate2 40s linear infinite;
}

.cloud3 {
  position: absolute;
  width: 340px;
  height: 200px;
  z-index: 15;
  top: 10%;
  animation: animate3 60s linear infinite;
}

.cloud4 {
  position: absolute;
  width: 340px;
  height: 200px;
  z-index: 35;
  top: 5%;
  animation: animate4 40s linear infinite;
}

@keyframes animate {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    left: 30%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate3 {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate4 {
  0% {
    left: 60%;
  }
  100% {
    left: 100%;
  }
}

.sky {
  position: absolute;
  width: 2200px;
  bottom: 320px;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .video {
    position: absolute;
    z-index: 30;
    height: 50px;
    width: 80px;
    left: 43px;
    top: 130px;
  }

  .stage {
    position: absolute;
    z-index: 27;
    left: 0;
    top: 50px;
    width: 170px;
    height: 200px;
  }
}
